.DS_Store
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.dart_tool/
build/
.idea/
pubspec.lock
windows/
*.g.dart
injection.config.dart
lib/injection.config.dart
ios/.DS_Store
macos/
windows/
linux/
android/app/dev/release/*
android/app/prod/release/*
lib/Injection.config.dart
